<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waves"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.waves.ui.HomePage"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.waves.ui.SongList"
            android:label="@string/title_activity_song_list" >
        </activity>

        <service
            android:name="com.waves.library.scan.FileScanService"
            android:enabled="true"
            android:exported="false" >
			<intent-filter>
	              <action android:name="@string/full_scan_bound" />
	              <category android:name="android.intent.category.DEFAULT" />
	              <data android:scheme="topDir" />
	              
	              <action android:name="@string/full_scan_unbound" />
	              <category android:name="android.intent.category.DEFAULT" />
	              <data android:scheme="topDir" />
	              
	              <action android:name="@string/single_file" />
	              <category android:name="android.intent.category.DEFAULT" />
	              <data android:scheme="file" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.waves.library.scan.FileMonitor"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>
